[Unit]
Description=Prometheus server
After=network.target

[Service]
WorkingDirectory=/usr/local/share/prometheus-{{ prometheus_version }}.linux-amd64/
ExecStart=/usr/local/share/prometheus-{{ prometheus_version }}.linux-amd64/prometheus \
    --config.file=/etc/prometheus/prometheus.yml \
    --storage.tsdb.path=/usr/local/share/prometheus-{{ prometheus_version }}.linux-amd64/data \
    --web.console.libraries=/usr/local/share/prometheus-{{ prometheus_version }}.linux-amd64/console_libraries \
    --web.console.templates=/usr/local/share/prometheus-{{ prometheus_version }}.linux-amd64/consoles
User=root

[Install]
WantedBy=multi-user.target
